* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    background-color: black;
    display: flex;
    height: 100px;
    padding: 0 20px;
}

.navbar img {
    margin: auto auto auto 0;
}

.navbar ul {
    display: flex;
    margin: auto 0 auto auto;
}

.navbar li a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin-left: 30px;
}

#background-image {
    height: 86vh;
    width: 100%;
}

.overview {
    margin-top: -10px;
}

.overview h1 {
    font-size: 2.5rem;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.box {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.box h2 {
    color: orange;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px
}

.box p{
    color: #fff;
    padding: 20px;
    font-size: 1.3rem;
}

.box ul li {
    color: #fff;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.3rem;
}

#box1 {
    width: 400px;
    height: 350px;
    border-radius: 10px;
    background-color: grey;
}
#box2 {
    width: 400px;
    height: 350px;
    border-radius: 10px;
    background-color: grey;
}
#box3 {
    width: 400px;
    height: 350px;
    border-radius: 10px;
    background-color: grey;
}

.gallery h1 {
    font-size: 2.5rem;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.gallery .box {
    display: contents;
    justify-items: center;
    align-items: center;

}

.gallery .box .row1 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.gallery .box .row2 {
    display: flex;
    justify-content: center;
}

.gallery .box .row3 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.box img {
    margin: 0;
    height: 300px;
    width: 405px;
    border-radius: 10px;
    margin: 5px;
}

.contact {
    margin-top: 50px;
    display: flex;
    justify-content: center;

}

.contact h1 {
    color: orange;
    margin-bottom: 20px;
}

.contact .container{
    display: flex;
    background-color: gray;
    border-radius: 10px;
    height: 500px;
    width: 86%;
}

.container label {
    color: #fff;

}
.container .contact-us input[type='text'] {
    background-color: white;
    width: 100%;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.contact .contact-us #textField {
    width: 100%;
    height: 100px;
    background-color: white;
}

.container .contact-us {
    padding: 50px;
    width: 50%;
}

.container .contact-us #btnSubmit {
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.container .contact-us #btnSubmit:hover {
    background-color: aliceblue;
}

.container .contact-info{
    padding: 50px;
}

.container .contact-info h1 {
    color: orange;
    margin-bottom: 20px;
}

.container .contact-info p {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 20px;
}


footer {
    background-color: grey;
    color: white;
    padding: 20px;
    margin-top: -40px;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #e2e8f0;
}
