* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    background-color: black;
    display: flex;
    height: 100px;
    padding: 0 20px;
}

.navbar img {
    margin: auto auto auto 0;
}

.navbar ul {
    display: flex;
    margin: auto 0 auto auto;
}

.navbar li a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin-left: 30px;
}

#background-image {
    height: 86vh;
    width: 100%;
}

.overview {
    margin-top: -10px;
}

.overview h1 {
    font-size: 2.5rem;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.box {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.box h2 {
    color: orange;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px
}

.box p{
    color: #fff;
    padding: 20px;
    font-size: 1.3rem;
}

.box ul li {
    color: #fff;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.3rem;
}

#box1 {
    width: 400px;
    height: 350px;
    border-radius: 10px;
    background-color: grey;
}
#box2 {
    width: 400px;
    height: 350px;
    border-radius: 10px;
    background-color: grey;
}
#box3 {
    width: 400px;
    height: 350px;
    border-radius: 10px;
    background-color: grey;
}

.gallery h1 {
    font-size: 2.5rem;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.gallery .box {
    display: contents;
    justify-items: center;
    align-items: center;

}

.gallery .box .row1 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.gallery .box .row2 {
    display: flex;
    justify-content: center;
}

.gallery .box .row3 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.box img {
    margin: 0;
    height: 300px;
    width: 405px;
    border-radius: 10px;
    margin: 5px;
}
